:root {
    --fontTexto:  'Raleway', sans-serif;
    --fontHeading: 'Staatliches', cursive;

    /** Colores **/
    --azul : #f2f8fc;
    --rojo : #ed2a26;
    --naranja : #AF1F24;
    --blanco: #FFFFFF;
    --negro : #1d3557;
}

h1 {
    margin-top: 0.1rem;
}

.h1__tituloCapitulos {
    text-align: center;
    padding: 20px;
}

.h1_hero {
    text-align: center;

    font-size: 1.625em;
	/* 1.125x body copy size = 18px */
    line-height: 1.11111111;
    color: var(--azul);
}

.h1_hero_p {
    text-align: center;
    font-size: 1.225em;
	/* 1.125x body copy size = 18px */
    line-height: 2.41111111;
    color: var(--azul);
}

.h1_hero_div {
    width: 65%;
}

.h2__tituloCapitulos {
    text-align: left;
    margin-left: 150px;
}

p {
    font-size: 16px;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    word-spacing: 0.8rem;;
    color: black;
}
.li_row1 {
    display: list-item;

}
/* Cards Capitulos */
.divBody {
    background-color: var(--blanco);
    font-size: 1.6rem;
    font-family: var(--fontTexto);
    height: 100%;
    padding: 150px 30px 30px 210px;
};

.divBody2 {
    background-color: var(--blanco);
    font-size: 1.6rem;
    font-family: var(--fontTexto);
    height: 100%;
    width: 100%;
    padding: 0;
}
.cardHtml {
    width: 45rem;
    float: none;
    margin: 0 auto;
    padding: 0;
}

.cardHtmlInside {
    width: 100%;
    float: none;
    margin: 0 auto;
    margin-top: 150px;
    /* margin-right: 250px !important; */
    padding: 0;
}

.body__Capitulos {
    margin-left: 150px;
    padding: 60px;     
}

.body__Capitulos_2 {
    width: 100% !important;
    padding-right: 150px !important;
}
/* Card Technologias */
.cardHtml2 {
    width: 55rem;
    float: none;
    margin: 0 auto;
    padding: 0;
}
.cardHtmlInside2 {
    width: 15rem;
    height: 15rem;
    float: none;
    margin: 5px auto;
    padding: 10px;
}

/* Botones Prev y Next */
.buttonCapitulos {
    margin: 10px;
    margin-top: 25px;
    background-color: var(--rojo);
}

.buttonPrev {
    margin: 20px;
    border: none;
    border-radius: 100px;
    width: 20px !important;
    height: 130em !important;
    float: left;
    background-image: linear-gradient(to left, var(--rojo), var(--naranja));
    background-color: var(--rojo);
}

.buttonNext {
    margin: 20px;
    border: none;
    border-radius: 100px;
    width: 20px !important;
    height: 130em !important;
    float: right;
    background-image: linear-gradient(to right, var(--rojo), var(--naranja));
    background-color: var(--rojo);
}

.tabs {
    background-color: var(--blanco);
    min-height: 75px;
}

.homeFeatures {
    padding: 60px 20px 30px 140px;
}

.hero {
    width: 1200px;
}


/* Responsive */
@media (max-width: 600px){
    .divBody {
        margin: 150px 20px 10px 190px;
        width: 500px;
    }
    .homeFeatures {
        width: 10px;
        height: 10px;
        visibility: hidden;
    }
    .hero {
        width: 500px;
    }
    .footer {
        visibility: hidden;
        /* width: 600px !important;
        margin-left: -190px; */
    }
    .header {
        display: table-column;
    }

}

/* CheatSheet */
/* RefHtml */
.refHtml__body {
    margin-left: 190px;
    background-color: var(--blanco);
    padding: 40px;
    padding-top: 90px;
    /* margin-top: 100px; */
}

._1frstcate {
    width: 100%;
    margin: 30px;
}

.cate_option li:last-child {
    padding-bottom: 0;
}

.cate_option li {
    padding-bottom: 10px;
    display: block;
}

.cate_option li a {
    font-size: 14px;
    color: #686f7a;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 400;
}

.refTitles__h1 {
    color: var(--rojo);
    margin: 10px;
}

.refTitles__h2 {
    color: var(--rojo);
    margin: 30px;
}

.buttonBack {
    position: absolute;
    right: 20%;
    background-color: var(--negro);
    color: white;
    width: 70px;
    cursor: pointer; 
}

/* <-------------- top nav  ---------------> */

 .topNav__Home {
     width: 100px;
     /* background-color: blanchedalmond; */
 }

 .topNav__Tutorial {
    /* background-color: blanchedalmond !important; */
}

