* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
section {
	position: absolute;
	height: 155rem;
	display: flex;
}
section .slide {
	position: relative;
	background: #0f0;
	height: 10%;
	flex: 1;
	border-right: 2px solid #000;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}
section .slide:nth-child(1) {
	background: url(../../styles/img/homeFeaturesPics/htmlpic.jpg);
	background-position: center center;
	background-size: 60rem;
	background-repeat: no-repeat;
}
section .slide:nth-child(2) {
	background: url(../../styles/img/homeFeaturesPics/csspic.jpg);
	background-position: center center;
	background-size: 60rem;
	background-repeat: no-repeat;
}
section .slide:nth-child(3) {
	background: url(../../styles/img/homeFeaturesPics/javascriptpic.jpg);
	background-position: center center;
	background-size: 60rem;
	background-repeat: no-repeat;
}
section .slide:nth-child(4) {
	background: url(../../styles/img/homeFeaturesPics/jquerypic.jpg);
	background-position: center center;
	background-size: 60rem;
	background-repeat: no-repeat;
}
section .slide:nth-child(5) {
	background: url(../../styles/img/homeFeaturesPics/bootstrappic.jpg);
	width: 100%;
	background-position: center center;
	background-size: 60rem;
	background-repeat: no-repeat;
}
section .slide:nth-child(6) {
	background: url(../../styles/img/homeFeaturesPics/reactpic.jpg);
	width: 100%;
	background-position: center center;
	background-size: 60rem;
	background-repeat: no-repeat;
}

section .slide:last-child {
	border-right: none;
}
section .slide:hover {
	flex-grow: 5;
}
section .slide .content {
	position: absolute;
	bottom: 0;
	margin: 40px;
	padding: 30px;
	background: #000;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0s;
	transform: translateY(100px);
}
section .slide:hover .content {
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
	transition-delay: 0.5s;
	transform: translateY(0);
}

.pug {
	/* background: url(); */
	background-color: #fff;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.video {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
}